<!DOCTYPE html>
<html>
<head>
<title>Welcome to {{hw.app_name}}!</title>
<style>
    body {
        width: 35em;
        margin: 0 auto;
        font-family: Tahoma, Verdana, Arial, sans-serif;
    }
</style>
</head>
<body>
<h1>Welcome to {{hw.app_name}}!</h1>
<p>{{hw.app_name}} is under maintenance</p>

<p><em>Thank you for visiting {{hw.app_name}}.</em></p>
</body>
</html>
